# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Flask & Database
instance/
*.db
*.sqlite3
app.db

# IDEs
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/

# Logs
*.log

# Uploads (Ignore user uploaded files but keep directory structure if .gitkeep exists)
static/uploads/*
!static/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
